html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #67C2D4;
  font-family: monospace, Helvetica, "Hiragino Sans GB", Arial, sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  flex: none;

  h1 {
    color: #FAF1E0;
    font-size: 48px;
    margin-bottom: 6px;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  }

  p {
    margin-top: 0;
    color: rgba(250, 241, 224, 0.9);
    font-size: 22px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
  }
}

nav {
  text-align: center;
  flex: none;
  padding: 24px 0;

  a {
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    font-size: 18px;
    color: #553445;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    outline: none;

    &.current,
    &:hover {
      color: #e75854;
    }
  }

}



main {
  flex: auto;
  display: flex;

  .preview-panel {
    width: 100px;
    background: black;
    flex: auto;
    position: relative;
    overflow: auto;

    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .source-panel {
    background: #222;
    width: 100px;
    flex: auto;
    overflow: auto;

    pre[class*="language-"] {
      border: none;
      background: transparent;
      box-shadow: none;
    }

    code {
      font-size: 0.75rem;
    }

    .token.punctuation {
      opacity: 1;
    }

  }

}